.user-container {
	min-width: 328px;
	height: 32px;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
	border-radius: 16px;
	background: #E9ECEF;
}

.user-search-container,
.user-popover-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}

.user-search-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.user-avatar {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.user-avatar-search {
	margin-left: 7px;
}
.user-avatar-popover {
	margin-left: 0;
}

.user-login {
	text-align: left;
	min-width: 86px;
	margin-left: 8px;
	padding-right: 12px;
}

.user-login-search {
	margin-right: 4px;
	padding-right: 0;
	min-width: 10px;
}
.user-login-popover {
	padding-right: 6px;
	font-size: 15px;
	line-height: 17px;
}

.remove-user {
	width: 16px;
	height: 16px;
	border: none;
	margin-right: 12px;
	padding-right: 12px;
}
.remove-user path:last-child {
	fill: #AFB4B8;
}
.remove-user:active path:last-child {
	fill: #000000;
}

@media (min-width: 1280px) {
	.user-container {
		margin: 0 8px 8px 0;
		min-width: 142px;
		height: 24px;
	}
	.user-avatar {
		width: 24px;
		height: 24px;
	}
	.user-avatar-search {
		width: 24px;
		height: 24px;
		margin-left: 0;
	}
	.user-login-popover {
		font-size: 13px;
	}
	.remove-user path:last-child {
		fill: #AFB4B8;
	}
	.remove-user:hover path:last-child {
		fill: #000000;
	}
}
