.timeline-container {
	width: 100vw;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background: #F7F8F9;
	padding-top: 106px;
	z-index: -1;
	overflow: hidden;
	overflow-x: scroll;
}
.timeline-hour-container {
	display: flex;
	background: #FFFFFF;
	position: relative;
}

.timeMobile,
.timeDesktop {
	position: absolute;
	content: '';
	z-index: 2;
	margin-left: 230px;
	top: 25px;
	left: 0;
	width: 1px;
	height: 200px;
	background: #007DFF;
}
.timeMobile::after,
.timeDesktop::after {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	content: attr(data-current-hour);
	font-size: 11px;
	color: #fff;
	letter-spacing: 0.4px;
	background: #007DFF;
	border-radius: 100px;
	top: -20px;
	left: -24px;
	width: 49px;
	height: 20px;
	z-index: 5;
}
.timeDesktop {
	top: 34px;
	margin-left: 230px;
}

.timeline-hour-inner {
	position: relative;
	width: 60px;
	height: 32px;
	z-index: 2;
}
.timeline-hour-inner:first-child {
	margin-left: 180px;
}

.timeline-hour-inner:nth-child(n+3) span {
	left: -7px;
}

.timeline-hour {
	position: relative;
	flex-shrink: 0;
	width: 60px;
	height: 32px;
}
.timeline-line {
	position: absolute;
	top: 32px;
	width: 1px;
	background: rgba(19,100,205,0.10);
	z-index: -1;
}

.timeline-hour::after {
	position: absolute;
	content: '';
	left: 0;
	top: 32px;
	width: 1px;
	height: attr(height em);
	background: rgba(19,100,205,0.10);
	z-index: 2;
}

.timeline-span {
	font-size: 11px;
	font-weight: 600;
	color: #262626;
	letter-spacing: 0.4px;
	z-index: 1;
	position: absolute;
	left: -3px;
	bottom: 10px;
}

@media (min-width: 1200px) {
	.timeline-container {
		width: 1200px;
		margin: 0 auto;
	}
}

@media (min-width: 1280px) {
	.timeContainer {
		display: flex;
		justify-content: center;
	}
	.timeline-container {
		padding-top: 72px;
		z-index: -1;
		width: 1280px;
		overflow-x: hidden;
	}
	.timeline-hour-container {
		position: fixed;
		top: 72px;
		height: 46px;
		z-index: 2;
	}
	.timeline-span {
		bottom: 0;
	}
	.timeline-hour-inner {
		height: 46px;
	}
	.timeline-hour-inner:first-child {
		margin-left: 261px;
	}
	.timeline-hour-inner:first-child  span{
		color: #fff;
	}
	.timeline-line {
		top: 46px;
	}
}
