.PickerLabel {
	font-size: 15px;
	font-weight: 600;
	height: 56px;
	background: #FFFFFF;
	box-shadow: 0 1px 0 0 #E9ECEF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
}
.TimePicker {
	position: absolute;
	top: 49px;
	left: 0;
	right: 0;
	z-index: 3;
}
.PickerButton {
	width: 32px;
	height: 32px;
	background: #E9ECEF;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.PickerButton:first-child svg {
	margin-right: 3px;
}

.PickerButton:last-child svg {
	transform: rotate(180deg);
}

.data {
	font-size: 15px;
	font-weight: 500;
}
@media (min-width: 1280px) {
	.PickerLabel {
		width: 261px;
		height: 46px;
		box-shadow: none;
	}
	.TimePicker {
		position: fixed;
		top: 72px;
		left: auto;
		right: auto;
	}
	.PickerButton {
		width: 24px;
		height: 24px;
	}
	.PickerButton:hover path {
		stroke-opacity: 1
	}
	.PickerButton:last-child {
		transform: none;
	}
	.PickerButton:first-child svg {
		transform: rotate(180deg);
	}
	.PickerButton:last-child svg {
		transform: none;
		margin-left: 2px;
	}
}
