* {
	box-sizing: border-box;
}
body {
	background: #F7F8F9;
}
p {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 17px;
}

h2 {
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

button {
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

.disabled {
  display: none;
}

.App {
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
	position: relative;
	background: #F7F8F9;
}

::-webkit-scrollbar {
		display: none;
	}

.App-logo {
  width: 149px;
  height: 21;
  margin: 15px 0 11px 21px;
}

.App-header {
  position: fixed;
  too: 0;
  left: 0;
	right: 0;
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #E9ECEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 48px;
  color: white;
	z-index: 3;
}

.App-createEvent {
	display: none;
}

@media (min-width: 1280px) {
  .App-header {
    height: 71px;
  }
	.App-logo {
		margin-left: 24px;
	}
	.App-createEvent {
		display: block;
		width: 140px;
		height: 36px;
		font-weight: 400;
		font-size: 13px;
		color: #FFFFFF;
		letter-spacing: 0;
		background: #007DFF;
		border-radius: 4px;
		margin-right: 24px;
	}
}
