button {
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

.disabled {
  display: none;
}

.App {
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
}

::-webkit-scrollbar {
		display: none;
	}

.App-logo {
  width: 149px;
  height: 21;
  margin: 15px 0 11px 0;
}

.App-header {
  position: fixed;
  too: 0;
  left: 0;
	right: 0;
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #E9ECEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 48px;
  padding: 0 21px;
  color: white;
}

@media (min-width: 1280px) {
  .App-header {
    height: 71px;
  }
}
