.top-container {
	width: 100%;
	margin: 0 auto 8px auto;
	background: #fff;
	padding: 0 16px;
	padding-top: 72px;
	flex-shrink: 0;
}

.container-header {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 16px;
}

.container-header__title {
	width: 328px;
	text-align: left;
}

.container-close {
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	background: #E9ECEF;
	border-radius: 50%;
}

.container-close svg {
	display: inline-block;
}

.container-close:hover path:last-child {
	fill: #000000;
}

.event-title {
	padding-bottom: 16px;
	display: flex;
	justify-content: center;
}

.event-title-container {
	position: relative;
}

.event-title__input {
	width: 328px;
	height: 44px;
	background: #FFFFFF;
	border: 2px solid #E9ECEF;
	border-radius: 4px;
	font-size: 15px;
	color: #000000;
	margin: auto;
	padding-left: 10px;
}
.event-title__input:hover {
	border-color: #007DFF;
}

.event-title__close {
	position: absolute;
	top: 14px;
	right: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	border: none;
}

.event-title__close svg {
	flex-shrink: 0;
}

.event-title-container:hover .event-title__close path:last-child {
	fill: #000000;
}

.event-data-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.event-data-inner {
	margin-bottom: 8px;
}

.event-data-inner:last-child {
	display: flex;
	margin-bottom: 0;
}

.event-data-hour {
	position: relative;
}

.event-data-hour:last-child {
	margin-left: 22px;
}

.event-data-hour:last-child::before {
	position: absolute;
	font-weight: 600;
	font-size: 13px;
	color: #000000;
	letter-spacing: 0.47px;
	content: '−';
	width: 16px;
	height: 14px;
	top: 11px;
	left: -18px;
}

/* Ant-component */
.antd-DatePicker:hover .ant-calendar-picker-input {
	border-color: #007DFF !important;
}
.antd-DatePicker:hover .ant-calendar-picker-icon {
	display: none;
}
.ant-input {
	margin: 0;
	font-size: 15px;
	color: #000;
	width: 328px;
	height: 44px;
	border: 2px solid #E9ECEF;
}
.ant-calendar-picker-icon::after {
	content: '';
	right: 0;
	background: url(../../assets/touch/calendar.svg) no-repeat center;
	width: 16px;
	height: 16px;
}

.ant-time-picker {
	width: 153px;
}
.ant-time-picker-input {
	font-size: 15px;
	height: 44px;
	border: 2px solid #E9ECEF;
}
.ant-time-picker-input:hover {
	border-color: #007DFF;
}
.ant-time-picker-icon::after {
	display: none;
	content: '';
}

@media (min-width: 1280px) {
	.top-container {
		padding: 0;
		max-width: 872px;
		display: flex;
		flex-wrap: wrap;
		padding-top: 103px;
		margin-bottom: 24px;
	}

	.container-header {
		width: 872px;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;
	}

	.event-title {
		padding-bottom: 0;
	}
	.event-title__input {
		width: 420px;
		height: 38px;
		font-size: 13px;
	}

	.event-title__close {
		top: 11px;
		width: 16px;
		height: 16px;
	}
	.event-title-container:hover .event-title__close {

	}

	.event-data-container {
		flex-direction: row;
		margin-left: 32px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.event-data-inner,
	.event-data-inner:last-child {
		margin-bottom: 0;
	}
	.event-data-hour:first-child {
		padding-left: 16px;
	}
	.event-data-hour:last-child::before {
		top: 32px;
	}

	.ant-input {
		font-size: 13px;
		width: 238px;
		height: 38px;
	}
	.ant-time-picker-input {
		height: 38px;
		font-size: 13px;
	}
	.ant-time-picker {
		width: 72px;
	}

	.ant-calendar-picker-icon::after {
		content: '';
		right: 0;
		background: url(../../assets/desktop/calendar.svg) no-repeat center;
		width: 12px;
		height: 12px;
	}
}
